<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap-4.0.0-dist/css/bootstrap.min.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/CoreUI.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/jquery.dataTables-1.10.16-dist.min.js")
    @Scripts.Render("~/Scripts/vue.2.5.13.min.js")
    @Scripts.Render("~/Scripts/popper.min.js")
    @Scripts.Render("~/Scripts/Chart.min.js")
    @Scripts.Render("~/Content/bootstrap-4.0.0-dist/js/bootstrap.min.js")
    @Scripts.Render("~/Scripts/page.js")
    @RenderSection("scripts", required: false)

    @RenderPage("~/Views/Shared/Navbar.cshtml")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Super Shoes</p>
        </footer>
    </div>
</body>
</html>
